.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #b1bde4;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: verdana;
  font-size: x-large;
  color: black;  
  justify-content: center;

}
input{
  border-radius: 8px; height: 30px; padding-left: 1%;
}
.boxInput{

  border-color: purple;
  border-radius: 25px;
  padding: 5%;
  padding-bottom: 4%;
  align-items: center;
  max-width: 50%;
  
}
button{
  margin:2%;
  padding: 1.5%;
  background-color: purple;
  border:0;
  border-radius: 2%;
  color: #b1bde4;
  font-weight: 800;
  border-radius: 15px;
  font-size: medium;
}
.h5{
  
  margin-block: auto;
}
.grayText{
  color:rgb(80, 80, 80);
  font-size:large;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
